body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input[type="text"],
select,
input[type="date"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

input[type="file"] {
  display: none;
}

.qr-label {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  flex: 1;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-btn:hover {
  background-color: #c82333;
}
/*BARRA MENU*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
}

.user-login {
  margin-left: auto;
}

.user-login a {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

/* Estilos responsivos */

@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    left: -100%;
  }

  .menu.open {
    left: 0;
  }
}


/* Estilos para el contenedor de la tabla */
.table-container {
  margin-top: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la tabla de rendimientos */
#rendimientos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#rendimientos-table th,
#rendimientos-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

#rendimientos-table th {
  background-color: #f2f2f2;
}

#rendimientos-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

