body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  justify-content: center;
	align-items: center;
	height: 100vh;
	background-size: 400% 400%; /* Tama単o del fondo */
	background-image: linear-gradient(30deg, #be4c3c, #429c6b, rgb(156, 60, 116), #99753f); /* Colores del gradiente */
  }
h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  margin-top: 170px; /* Ajusta el espacio desde la parte superior */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto para mantener el estilo original */
}
/* Modificaciones para el dise単o vertical */
.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="datetime-local"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px; /* Espacio entre elementos */
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}



/*Return Buttom*/
.return-container {
  position: absolute;
  top: 20px;
  left: 30px;
}

.return-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(156, 60, 116); /* Color de fondo semi-transparente */
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none; /* Eliminar subrayado */
  color: black; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.return-button i {
  font-size: 30px; /* Reducir tama単o del icono */
  margin-bottom: 10px;
}

.return-button:hover {
  background-color: rgba(107, 136, 131, 0.7); /* Color de fondo semi-transparente al hacer hover */
  transform: scale(1.05); /* Aumentar tama単o al hacer hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.return-button:hover span {
  backdrop-filter: none;
  filter: none;
}
